
*.suo

skeleton/CGWork/.vs/CGWork/v15/ipch/AutoPCH/a01a2429ac5c9e40/

skeleton/bin/Debug/

*.bsc

*.exe

skeleton/CGWork/.vs/CGWork/v15/

*.aps

skeleton/bin/Release/

*.old

skeleton/CGWork/Debug/

skeleton/CGWork/Release/

skeleton/CGWork/res/

skeleton/CGWork/.vs/CGWork/v16/
